/* 
    Document   : eventCalendar
    Created on : 18.8.2012, 10:52:51
    Author     : kubajz
    Description:
        Definice vzhledu kalendáře událostí
*/
* {
    margin: 0;
    padding: 0;
}

body {
        font-family: Verdana, Arial, sans-serif;
        font-size: 75%;
}

.eventCalendar {
    margin: 20px;
    padding: 5px;
    background-color: #ebf4fb;
    border: solid 2px #b7ddf2;
    display: inline-block;
}

.eventCalendar table, .eventCalendar td {
    border-collapse: collapse;
    border-spacing: 0;
}

.ec-monthTable {
    width: 100%;
}

.ec-monthTable caption {
    background-color: rgba(50, 138, 220, 0.8);
    padding: 5px;
    margin-bottom: 2px;
    font-variant: small-caps;
    font-weight: bold;
    color: #fff;
}

.ec-monthTable caption a, .ec-bottomNavigation a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.ec-monthTable caption a:hover, .ec-bottomNavigation a:hover {
    background-color: #ff0;
}

.ec-validDay {
    padding: 5px;
    background-color: #fff;
    border: solid 1px #328ADC;
    text-align: center;
}

.ec-empty {
    background: #ddd;
    border: solid 1px #999;
}

.ec-eventDay {
    position: relative;
    background-color: #328ADC;
    font-weight: bold;
    color: #fff;
}

.ec-eventBox {
    display: none;
    position: absolute;
    background-color: rgba(50, 138, 220, 0.8);
    padding: 10px;
    min-width: 120px;
}

.ec-eventDay:hover .ec-eventBox {
    display: block;
    z-index: 1;
}

.ec-bottomNavigation a {
    margin: 5px 2px;
    border: solid 1px rgba(50, 138, 220, 0.8);
}