<!DOCTYPE html>
<html lang="cs-CZ">
    <head>
        <meta charset="UTF-8">
        <title>EventCalendar</title>

        <link href="css/eventCalendar.css" type="text/css" rel="stylesheet">
        <link href="css/jquery-ui.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    {include #content}

        <script language="javascript" src="js/jquery.js"></script>
        <script language="javascript" src="js/jquery-ui.js"></script>
        <script language="javascript" src="js/nette-ajax.js"></script>
        <script language="javascript">      
        $(function() {
                $( "#tabs" ).tabs();
        });
        </script>
    </body>
</html>